body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(100deg, #126dc9, #538c96);
    font-family: 'Poppins', sans-serif;
    color: white;
}

.calculator {
    width: 382px;
    background: #222;
    padding: 106px;
    border-radius: 432px;
    box-shadow: 36 8px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
}

input {
    width: 120%;
    height: 60px;
    font-size: 26px;
    text-align: right;
    margin-bottom: 20px;
    border: none;
    border-radius: 200px;
    padding: 20px;
    background: #333;
    color: #fff;
    outline: none;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    right: 58px;
}

.row {
    display: flex;
}

button {
    flex: 1;
    height: 60px;
    font-size: 22px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #444;
    color: white;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
    background: #666;
    transform: scale(1.05);
}

.clear {
    background: #e74c3c;
}

.clear:hover {
    background: #c0392b;
}

.equal {
    background: #27ae60;
}

.equal:hover {
    background: #219150;
}

button:active {
    transform: scale(0.95);
}